/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark; /* Le dice al navegador que es modo oscuro */
}

body {
  margin: 0; /* <--- ESTO ELIMINA EL BORDE BLANCO */
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212; /* Fondo negro base */
}

/* Asegura que la app ocupe todo el ancho */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}